{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Управление портфелем
{% endblock %}

{% block content %}
    На следующем экране Вы будете наблюдать изменение цен (стоимости) для выбранного Вами портфеля во времени.
    Отмечайте Вашу удовлетворенность текущей стоимостью портфеля при помощи слайдера в правой верхней части экрана,
    где крайнее правое положение 100 означает "полностью удовлетворен", а крайнее левое 0 - "полностью не удовлетворен".

    <p>
    Как и в случае реальных инвестиций, вы можете самостоятельно управлять своим портфелем, а именно:
    </p>
    <ol>
    <li> Держать портфель до конца срока владения им </li>
    <li>  Продать портфель и вывести деньги в тот момент, когда сочтете нужным.</li>
    </ol>

    <p>
    Для досрочной продажи портфеля переместите слайдер в крайнее левое положение 0. Вам надо будет его подтвердить,
        нажав кнопку "Продать". В этом случае Вы получите его текущую стоимость
        на момент решения о продаже, и раунд сразу закончится. Если Вы не станете продавать портфель до самого конца, Вы получите
        его стоимость на момент окончания раунда.
    </p>
    <div>
    Помните что в каждый следующий момент стоимость портфеля случайным образом может как уменьшиться, так и вырасти, и это нельзя предсказать.
    </div>

    В каждый следующий из 10 раундов у вас будет возможность заново выбрать параметры риска и доходности портфеля - как другие, так и те же самые.
    <p>
    Вы будете видеть изменение стоимости выбранного Вами портфеля, и сможете продолжить или продать его.
    </p>
    <p>
    В конце исследования один из раундов будет выбрано случайным образом и Вы получите вознаграждение в рублях за этот раунд.
    </p>
    <p>
        <button type="button" class="btn btn-primary btn-tab" data-offset="-1">Ранее</button>
        <button type="button" class="btn btn-primary btn-tab" data-offset="1">Далее</button>
    </p>
    <!-- {% next_button %} -->



<div class="tab">
    Instructions first page content goes here...

</div>
<div class="tab">
    <!-- Duplicate this div if you have more than 3 pages of instructions ... -->
    Instructions middle page content goes here.
    <p>
        <button type="button" class="btn btn-primary btn-tab" data-offset="-1">Previous</button>
        <button type="button" class="btn btn-primary btn-tab" data-offset="1">Next</button>
    </p>

<script>

    let activeTab = 0;

    function showCurrentTabOnly() {
        let tabIndex = 0;
        for (let tab of document.getElementsByClassName('tab')) {
            tab.style.display = tabIndex === activeTab ? 'block' : 'none';
            tabIndex++;
        }
    }

    showCurrentTabOnly();
    for (let btn of document.getElementsByClassName('btn-tab')) {
        btn.onclick = function () {
            activeTab += parseInt(btn.dataset.offset);
            showCurrentTabOnly();
        }
    }
</script>



{% endblock %}
