{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Инструкции
{% endblock %}

{% block content %}
    <div class="tab">

    <h3> Общие условия</h3>
    <p>
    Инвестиционный портфель состоит из нескольких ценных бумаг (активов), рыночная стоимость которых меняется со временем. Изменение их стоимости определяет доходность и рискованность портфеля.
    </p>


    <ul>
        <li><em>Риск</em> - то, насколько сильно может колебаться (возрастать или снижаться) стоимость ваших бумаг в портфеле.</li>
        <li><em>Доходность</em> - то, насколько прибыльной может оказаться ваша инвестиция.</li>
    </ul>

    <p>
    Вы сами выбираете уровень риска портфеля и соответствующую ему доходность.
    </p>

    <h4>Главное свойство рынка</h4>
    <p>
        Более высокая <em>доходность</em> <b>всегда</b> приводит к повышенному уровню <em>риска</em>. Наоборот, менее рисковые бумаги всегда дают меньшую доходность.
    При выборе портфеля обязательно учитывайте это свойство.
    </p>

    <h4>Ваше вознаграждение</h4>
    <p>
    Вознаграждение, которое вы получите в конце нашего эксперимента, также следует этому правилу: чем более рисковый портфель Вы выбираете,
        тем выше может оказаться <em>доходность</em>, но и <em>риск</em> того что вы потеряете деньги будет выше.
    </p>

<!--    {% next_button %} -->

    <p>
        <button type="button" class="btn btn-primary btn-tab" data-offset="1">Далее</button>
    </p>
</div>

<div class="tab">
    <h3> Эксперимент </h3>

    Если Вы выберете портфель с повышенным риском и повышенной доходностью, график его стоимости может выглядеть так
    </p>
    <p>
    <img src="{%  static 'img2high.jpg' %}" />
    </p>
    <p>
    Если Вы выберете портфель с меньшим  риском и меньшей доходностью, график его стоимости может выглядеть так
    </p>
    <p>
    <img src="{% static 'img1low.jpg' %}" />
    </p>
    <p>
    однако конкретные реализации стоимости портфеля каждый раз будут случайными.
    </p>

    <h3>Выбор портфеля</h3>

    <p>
    На первой странице Вы увидите ряд графиков стоимостей портфелей с возрастающим уровнем риска. Кликнув на любой из них, Вы сможете посмотреть,
        какими могут быть типичные траектории стоимостей каждого портфеля. Выберите график с уровнем риска, наиболее подходящим для Вас, и нажмите Выбрать.
    </p>
    <p>
        <button type="button" class="btn btn-primary btn-tab" data-offset="-1">Предыдущая</button>
        <button type="button" class="btn btn-primary btn-tab" data-offset="1">Далее</button>
    </p>



</div>
<div class="tab">
    На следующем экране Вы будете наблюдать изменение цен (стоимости) для выбранного Вами портфеля во времени.
    <p>
    Как и в случае реальных инвестиций, вы можете самостоятельно управлять своим портфелем, а именно:
    </p>
    <ol>
    <li> Держать портфель до конца срока владения им </li>
    <li>  Продать портфель и вывести деньги в тот момент, когда сочтете нужным.</li>
    </ol>

    <p>
    Для досрочной продажи портфеля нажмите красную кнопку "Возможно, продать".
    <p>
    <img src="{%  static "slider_0.jpg" %}" width="1000px" />
    </p>

    <br>

    <p>
    В окошке появится слайдер. Перемещайте его согласно Вашим предпочтениям, между "Скорее держать" (по умолчанию),
        "Скорее продать" и "Продать". Если Вы выберете "Держать", слайдер исчезнет, и Вы снова вернетесь на основной экран.
    </p>
    <p>
    <img src="{%  static 'slider3.jpg' %}" width="1000px" />
    </p>

    <br>

    <p>
    Для досрочной продажи портфеля переместите слайдер в крайнее левое положение "Продать". Вам надо будет его подтвердить,
        нажав кнопку "Продать". В этом случае Вы получите его текущую стоимость
        на момент решения о продаже, и раунд сразу закончится. Если Вы не станете продавать портфель до самого конца, Вы получите
        его стоимость на момент окончания раунда.
    </p>

    <br>

    <p>
    <img src="{%  static "slider1.jpg" width="200" %}" width="1000px" />
    </p>
    <p>
    Помните что в каждый следующий момент стоимость портфеля случайным образом может как уменьшиться, так и вырасти, и это нельзя предсказать.
    </p>
    <p>
    В каждый следующий из 10 раундов у вас будет возможность заново выбрать параметры риска и доходности портфеля - как другие, так и те же самые.
    </p>
    <p>
        <button type="button" class="btn btn-primary btn-tab" data-offset="-1">Предыдущая</button>
        <button class="btn btn-primary">Далее</button>
    </p>
</div>

<script>
    let activeTab = 0;
    function showCurrentTabOnly() {
        let tabIndex = 0;
        for (let tab of document.getElementsByClassName('tab')) {
            tab.style.display = tabIndex === activeTab ? 'block' : 'none';
            tabIndex++;
        }
    }

    showCurrentTabOnly();
    for (let btn of document.getElementsByClassName('btn-tab')) {
        btn.onclick = function () {
            activeTab += parseInt(btn.dataset.offset);
            showCurrentTabOnly();
        }
    }
</script>


{% endblock %}
