{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Общие инструкции
{% endblock %}

{% block content %}
    <p>
    Этот эксперимент посвящен принятию инвестиционных решений в условиях риска. В ходе эксперимента вы будете выбирать для себя подходящий инвестиционный портфель и получать случайный доход от владения этим портфелем.

    </p>

    <b>Как выбрать портфель</b>

    <p>
    Портфель состоит из нескольких ценных бумаг (активов), рыночная стоимость которых меняется со временем. Изменение их стоимости определяет доходность и рискованность портфеля.
    </p>


    <p>
    Рискованность - то, насколько сильно может колебаться (возрастать или снижаться) снижаться стоимость ваших бумаг в портфеле.
    </p>
    <p>
    Доходность - то, насколько прибыльной может оказаться ваша инвестиция.
    </p>

    <p>
    Вы сами определяете уровень рискованности портфеля и его доходности.
    </p>

    <b>Главное свойство рынка</b>
    <p>
    Повышенная доходность всегда приводит к включает в себя повышенному уровню риска. Наоборот, менее рисковые бумаги всегда дают меньшую доходность.
    При выборе портфеля обязательно учитывайте это свойство.
    </p>

    <b>Вознаграждение за участие</b>
    <p>
Вознаграждение, которое вы получите в конце эксперимента работает по этому же правилу:
    </p>
    <p>
На более рисковых и доходных портфелях у вас есть возможность получить большее вознаграждение, но и риск снижения стоимости бумаг выше.
    </p>
    <p>
    Менее рисковый портфель принесет меньшую ожидаемую доходность, но риск потерять деньги при просадке меньше.
    </p>

    <b>Правила игры</b>
    <p>
    1. Вы выбираете портфель с приемлемым для Вас уровнем риска и соответствующей ему доходностью.
    </p>
    <p>
    2. Система автоматически будет генерировать ряд цен (стоимости) для выбранного Вами портфеля. Стоимость будет колебаться вверх и вниз,
    и может сильно падать - это называется <b>просадка</b>. При этом на менее рискованных и менее доходных портфелях просадка будет меньше, чем на более рискованных и доходных портфелях.
    </p>
    <p>
    Как и в случае реальных инвестиций, вы можете самостоятельно управлять своим портфелем, а именно:
    </p>
    <p>
- Не совершать никаких действий с портфелем до конца срока владения им
    </p>
    <p>
- Продать портфель и вывести деньги в тот момент, когда сочтете нужным.
    </p>
    <p>
Помните что стоимость портфеля, ситуация может как снижаться, так и расти, меняться как в худшую, так и в лучшую сторону и это нельзя предсказать.
    </p>
    <p>
    У вас будет возможность сыграть в игру 10 раз. Каждый раз вы сможете выбрать портфель с другими параметрами рискованности и доходности, а можете с теми же самыми.
    </p>
    {% next_button %}

{% endblock %}
