{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Детальные инструкции
{% endblock %}

{% block content %}
    В начале каждого раунда Вам нужно выбрать портфель, который будет приноситьь Вам доход в течение 24 периодов (месяцев) в ускоренном темпе.

    <p>
    Вы можете выбрать портфель с
    </p>
    <p>
    - Повышенной доходностью и повышенным риском
    </p>
    <p>
    - Меньшим риском и меньшей доходностью
    </p>
    <p>
    Если Вы выберете портфель с повышенным риском и повышенной доходностью, график его стоимости может выглядеть так
    </p>
    <p>
    <img src="{%  static 'img2high.jpg' %}" />
    </p>
    <p>
    Если Вы выберете портфель с меньшим  риском и меньшей доходностью, график его стоимости может выглядеть так
    </p>
    <p>
    <img src="{% static 'img1low.jpg' %}" />
    </p>
    <p>
    На следующей странице выберите уровень рискованности портфеля и соответствующей доходности и нажмите Выбрать.
    </p>
    <p>
    Вы будете видеть изменение стоимости выбранного Вами портфеля, и сможете продолжить или продать его.
    </p>
    В конце исследования один из раундов будет выбрано случайным образом и Вы получите вознаграждение, соответствующее цене вашего портфеля на тот момент, когда он был закрыт.
    </p>

    {% next_button %}

{% endblock %}
