{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Добро пожаловать на эксперимент
{% endblock %}

{% block content %}
    <p>
    Этот эксперимент посвящен принятию инвестиционных решений в условиях риска.
        В ходе эксперимента вы будете выбирать инвестиционный портфель и получать доход от владения этим портфелем.
        Размер этого дохода будет зависеть как от Вашего решения, так и от случая.
    </p>   <p>
    Эксперимент состоит из 10 одинаковых раундов. В конце эксперимента один из раундов будет выбран случайным образом
    и Вы получите вознаграждение за этот раунд по курсу 100 экспериментальных единиц = 2 доллара.

    </p>

    <p>
        Пожалуйста, внимательно прочитайте инструкции на следующих экранах, и только после этого принимайте решения.
    </p>

    <p>
        <button class="btn btn-primary">Далее</button>
    </p>
{% endblock %}
